<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <form action="/postCovidCheck" method="POST">
                <div class="container">
                    <div class="row">
                        <h2>Dang ky than nhiet</h2>
                        <hr>
                        <input type="number" class="form-control" name="celsius">
                    </div>
                    <hr>
                    <div class="row">
                        <h2>Dang ky thong tin Vaccin</h2>
                        <div class="col-6">
                            <h4>Mui 1</h4>
                            <hr>
                            <label>Loai</label>
                            <input type="text" class="form-control" name="type1">
                            <hr>
                            <label>Ngay tiem</label>
                            <input type="date" class="form-control" name="dateInjection1">
                        </div>
                        <div class="col-6">
                            <h4>Mui 2</h4>
                            <hr>
                            <label>Loai</label>
                            <input type="text" class="form-control" name="type2">
                            <hr>
                            <label>Ngay tiem</label>
                            <input type="date" class="form-control" name="dateInjection2">
                        </div>
                    </div>
                    <div class="row">
                        <h2>Đăng ký thông tin dương tính với covid</h4>
                            <div class="form-check">
                                <input name="infection" class="form-check-input" type="checkbox" value="1"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Co duong tinh hok?
                                </label>
                            </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Update Thong tin</button>
                    </div>
                </div>
            </form>

            <%- include('../includes/end.ejs') %>
    </body>